*.mp4 filter=lfs diff=lfs merge=lfs -text
/Users/acempura/code/private-projects/projects/justcreator.pl/assets/vid/sunglasses.mp4 filter=lfs diff=lfs merge=lfs -text
/Users/acempura/code/private-projects/projects/justcreator.pl/assets/vid/annex-gray.mp4 filter=lfs diff=lfs merge=lfs -text
